:root {
  --color-site-primary: #289A99;
  --color-site-primary-light: rgb(62, 195, 202);
  --color-site-primary-dark: rgb(20, 82, 81);

  --color-site-grey-light-1: #FAF9F9;
  --color-site-grey-light-2: #F4F2F2;
  --color-site-grey-light-3: #F0EEEE;
  --color-site-grey-light-4: #CCCCCC;

  --color-site-grey-dark-1: #333333;
  --color-site-grey-dark-2: #777777;
  --color-site-grey-dark-3: #999999;

  --shadow-light: 0 2rem 5rem rgba(0,0,0,0.06);
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);

  --line: 1px solid var(--color-site-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  
  color: var(--color-site-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-site-primary-light), var(--color-site-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}