// COLORS
$color-primary: #EB2F64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;

$color-grey-light-1: #FAF9F9;
$color-grey-light-2: #F4F2F2;
$color-grey-light-3: #F0EEEE;
$color-grey-light-4: #CCCCCC;

$color-grey-dark-1: #333333;
$color-grey-dark-2: #777777;
$color-grey-dark-3: #999999;