header.header
  img(src="img/logo.png" alt="website logo").logo
  form(action="#").search
    input(type="text" placeholder="search items").search__input
    button.search__button
      svg.search__icon
        use(xlink:href="img/sprite.svg#icon-magnifying-glass")
  nav.user-nav
    .user-nav__icon-box
      svg.user-nav__icon
        use(xlink:href="img/sprite.svg#icon-bookmark")
      span.user-nav__notification 7
    .user-nav__icon-box
      svg.user-nav__icon
        use(xlink:href="img/sprite.svg#icon-chat")
      span.user-nav__notification 13
    .user-nav__user
      img(src="img/rdl.jpg" alt="User Photo").user-nav__user-photo
      span.user-nav__user-name Robert