nav.sidebar
  ul.side-nav
    li.side-nav__item.side-nav__item--active
      a(href="#").side-nav__link
        svg.side-nav__icon
          use(xlink:href="img/sprite.svg#icon-home")
        span Hotel
    li.side-nav__item
      a(href="#").side-nav__link
        svg.side-nav__icon
          use(xlink:href="img/sprite.svg#icon-aircraft-take-off")
        span Flight
    li.side-nav__item
      a(href="#").side-nav__link
        svg.side-nav__icon
          use(xlink:href="img/sprite.svg#icon-key")
        span Car Rental
    li.side-nav__item
      a(href="#").side-nav__link
        svg.side-nav__icon
          use(xlink:href="img/sprite.svg#icon-map")
        span Tours
  .legal &copy; 2018 by Bob Cobb. All rights reserved.