doctype html
html
  head
    title Flexbox - Advanced CSS and Sass
    include ../includes/head.pug
  body
    include ../includes/header.pug

    main
      block content

    include ../includes/footer.pug